<template>
  <div>
    <svg
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:cc="http://creativecommons.org/ns#"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      :width="positioning[state].width"
      :height="positioning[state].height"
      :viewBox="positioning[state].viewBox"
      version="1.1"
    >
      <defs id="defs8204" />
      <use
        style="stroke-width:1.19078219"
        height="100%"
        width="100%"
        transform="matrix(1.7371009,0,0,1.7372942,-3181.8298,-870.36781)"
        id="use8241"
        xlink:href="#g7368"
        y="0"
        x="0"
      />
      <use
        style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke-width:1.19078219;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
        height="100%"
        width="100%"
        transform="matrix(1.7371009,0,0,1.7372942,-3235.5733,-897.13199)"
        id="use8241-6"
        xlink:href="#g7368"
        y="0"
        x="0"
      />
      <use
        style="stroke-width:1.19078219"
        height="100%"
        width="100%"
        transform="matrix(1.7371009,0,0,1.7372942,-3235.5733,-897.13199)"
        id="use8241-5"
        xlink:href="#g7368"
        y="0"
        x="0"
      />
      <g id="rope" :transform="positioning[state].transformRope">
        <rect
          style="fill:#e6c099;fill-opacity:1;stroke:#2b1100;stroke-width:2.36297917;stroke-miterlimit:1.60000002;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
          id="rect12983"
          width="65.445984"
          height="54.876465"
          x="1.1814854"
          y="73.585144"
        />
        <path
          style="fill:#e6c099;fill-opacity:1;stroke:#2b1100;stroke-width:1.11749995;stroke-miterlimit:1.39999998;stroke-dasharray:1.11749992, 1.11749992;stroke-dashoffset:0;stroke-opacity:1"
          d="m 4.9287,110.90801 c 2.82904,-3.2704 6.18099,-3.9315 11.41447,-2.9907 1.78666,4.6108 3.37616,9.2732 3.925,14.2084 -4.14183,3.8498 -5.83903,4.2263 -11.4145,2.9908 -2.13921,-6.0431 -3.02846,-9.4796 -3.92497,-14.2085 z"
          id="path12987"
        />
        <rect
          style="fill:#28170b;fill-opacity:1;stroke:#2b1100;stroke-width:1.68133879;stroke-miterlimit:1.60000002;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
          id="rect12997"
          width="6.6468925"
          height="2.8432567"
          x="6.8771949"
          y="129.79596"
        />
        <g
          style="stroke:#2b1100;stroke-width:1.19078219"
          id="g13013"
          transform="matrix(1.3684704,0,0,1.3686226,-809.31247,1536.4808)"
        />
        <g
          style="stroke-width:1.19078219"
          transform="matrix(0.83973748,0,0,0.83983088,-248.58247,-764.47372)"
          id="g11029"
        >
          <rect
            y="990.01263"
            x="321.04523"
            height="5.9925885"
            width="28.021049"
            id="rect12995"
            style="fill:#94e627;fill-opacity:1;stroke:#2b1100;stroke-width:2.50436473;stroke-miterlimit:1.60000002;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
          />
          <rect
            style="fill:#2777e6;fill-opacity:1;stroke:#2b1100;stroke-width:1.41792119;stroke-miterlimit:1.60000002;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
            id="rect13019"
            width="14.940888"
            height="3.6027279"
            x="327.64127"
            y="992.91461"
          />
          <rect
            y="992.7879"
            x="310.92511"
            height="3.8563247"
            width="8.645977"
            id="rect13021"
            style="fill:#fdff67;fill-opacity:1;stroke:#2b1100;stroke-width:1.11594284;stroke-miterlimit:1.60000002;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
          />
          <rect
            style="fill:#fe6d5b;fill-opacity:1;stroke:#2b1100;stroke-width:1.11594284;stroke-miterlimit:1.60000002;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
            id="rect13023"
            width="8.645977"
            height="3.8563247"
            x="350.0365"
            y="992.7879"
          />
        </g>
        <path
          id="path10920"
          d="m 62.27029,110.90801 c -2.82903,-3.2704 -6.18098,-3.9315 -11.41446,-2.9907 -1.78667,4.6108 -3.37617,9.2732 -3.925,14.2084 4.14183,3.8498 5.83903,4.2263 11.4145,2.9908 2.1392,-6.0431 3.02845,-9.4796 3.92496,-14.2085 z"
          style="fill:#e6c099;fill-opacity:1;stroke:#2b1100;stroke-width:1.11749995;stroke-miterlimit:1.39999998;stroke-dasharray:1.11749992, 1.11749992;stroke-dashoffset:0;stroke-opacity:1"
        />
        <path id="mouth" :class="state" />
        <use
          style="stroke-width:1.19078219"
          height="100%"
          width="100%"
          transform="matrix(1.7371009,0,0,1.7372942,-3094.6724,-849.80586)"
          id="use8241-62"
          xlink:href="#g7368"
          y="0"
          x="0"
        />
        <use
          style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke-width:1.19078219;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
          height="100%"
          width="100%"
          transform="matrix(1.7371009,0,0,1.7372942,-3148.4159,-876.57003)"
          id="use8241-6-9"
          xlink:href="#g7368"
          y="0"
          x="0"
        />
        <use
          style="stroke-width:1.19078219"
          height="100%"
          width="100%"
          transform="matrix(1.7371009,0,0,1.7372942,-3148.4159,-876.57003)"
          id="use8241-5-1"
          xlink:href="#g7368"
          y="0"
          x="0"
        />
        <use
          x="0"
          y="0"
          xlink:href="#rect12997"
          id="use842"
          transform="translate(46.63182)"
          width="100%"
          height="100%"
        />
        <use
          height="100%"
          width="100%"
          transform="matrix(2.0686238,0,0,2.0686238,-3880.136,-1096.9559)"
          id="use8241-3"
          xlink:href="#g7368"
          y="0"
          x="0"
        />
        <use
          style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
          height="100%"
          width="100%"
          transform="matrix(2.0686238,0,0,2.0686238,-3944.1364,-1128.8244)"
          id="use8241-6-5"
          xlink:href="#g7368"
          y="0"
          x="0"
        />
        <use
          height="100%"
          width="100%"
          transform="matrix(2.0686238,0,0,2.0686238,-3944.1364,-1128.8244)"
          id="use8241-5-6"
          xlink:href="#g7368"
          y="0"
          x="0"
        />
        <g class="zGroup" :class="state" transform="translate(4,65)">
          <text>
            <tspan y="0" x="49">z</tspan>
          </text>
        </g>
        <g class="zGroup startAfter" :class="state" transform="translate(4,65)">
          <text>
            <tspan y="0" x="49">z</tspan>
          </text>
        </g>
        <path
          id="shadow"
          d="m 10.97027,130.88479 47.125469,-0.0735 9.463733,4.26238 H 0.34771891 Z"
          style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#1d232c;fill-opacity:0.32000002;fill-rule:nonzero;stroke:#2b1100;stroke-width:0.00223336;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:12.19999981;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
        />

        <use
          style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
          height="100%"
          width="100%"
          transform="matrix(2.0686238,0,0,2.0686238,-3833.8533,-1155.5781)"
          id="use8241-6-2"
          xlink:href="#g7368"
          y="0"
          x="0"
        />
        <use
          height="100%"
          width="100%"
          transform="matrix(2.0686238,0,0,2.0686238,-3833.8533,-1155.5781)"
          id="use8241-5-9"
          xlink:href="#g7368"
          y="0"
          x="0"
        />
        <g id="eyeFace">
          <g id="g1819" transform="translate(-0.45854451,-0.1224717)">
            <path
              style="fill:#ffffff;fill-opacity:0.64563108;stroke:#2b1100;stroke-width:1.40625;stroke-miterlimit:1.60000002;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
              d="m 311.04969,1041.141 c 25.10018,-2.5544 24.58886,-2.7551 49.88747,0.2651 l -0.0989,22.2158 c -23.83979,3.6811 -27.92165,3.1327 -50.09077,0.8178 z"
              id="path11352"
              transform="translate(-301.70032,-961.29893)"
            />
            <g id="eyebrows" :class="state">
              <path
                style="fill:none;stroke:#000000;stroke-width:0.9375px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="m 12.240049,85.291126 9.808248,-2.512857"
                id="path1460"
              />
              <path
                style="fill:none;stroke:#000000;stroke-width:0.9375px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="m 42.475391,81.64343 9.402948,2.269677"
                id="path1464"
              />
            </g>
          </g>
          <g id="eyes" transform="translate(-301.70032,-961.29889)">
            <path id="eyeRight" class="eye" :class="state" />
            <path id="eyeLeft" class="eye" :class="state" />
          </g>
        </g>
      </g>
      <connecting-signal id="connectingSignal" :class="state"/>
    </svg>
  </div>
</template>

<script>
import connectingSignal from "~/components/ConnectingSignal"

export default {
  name: "RoPE",
  components: {
    connectingSignal
  },
  props: {
    state: {
      required: false,
      default: "awake",
      type: String
    }
  },
  data() {
    return {
      positioning: {
        awake: {
          viewBox: '0 0 70 72',
          height: 61,
          width: 80,
          transformRope: 'translate(0, -65)'
        },
        sleeping: {
          viewBox: '0 0 75 135',
          height: 204,
          width: 154,
          transformRope: ''
        },
        searching: {
          viewBox: '0 0 75 135',
          height: 204,
          width: 154,
          transformRope: ''
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.sleeping#eyebrows {
  animation: ronco 3s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

#mouth {
  stroke: #2b1100;
  stroke-width: 1.11749995;
}

.eye {
  fill: #2777e6;
  stroke: #000000;
  stroke-width: 0.9942987;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 1.60000002;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  paint-order: markers fill stroke;
}

/* sleeping */

.sleeping.zGroup {
  animation: upRight 4s infinite;
  text,
  tspan {
    animation: increaseDecrease 4s infinite;
    font-weight: bold;
    font-family: "Tlwg Typist";
    fill: #2777e6;
    stroke: #2b1100;
  }
}

.sleeping.startAfter {
  animation-delay: 1s;
  text,
  tspan {
    animation-delay: 1s;
  }
}

@keyframes upRight {
  100% {
    transform: translate(5px, 35px);
  }
}

@keyframes ronco {
  50% {
    transform: translate(2px, 2px);
    fill: #2b1100;
  }
}

@keyframes increaseDecrease {
  0% {
    font-size: 0;
  }
  40% {
    font-size: 50px;
  }
  100% {
    fill-opacity: 0.5;
    stroke-opacity: 0.1;
    font-size: 10px;
  }
}

.sleeping#mouth {
  d: path(
    "m 37.23773,113.95751 c -2.71067,-0.4921 -4.79113,-0.4642 -7.11198,0.01 0.87265,1.7749 1.36534,2.2676 1.91288,2.8791 1.07227,0.3438 2.26763,0.322 3.41284,-0.023 0.96569,-1.1073 1.44998,-2.0273 1.78626,-2.8632 z"
  );
  fill: #916f6f;
  animation: ronco 3s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sleeping#eyeRight {
  d: path(
    "m 315.7552,1055.6302 c -0.20576,0.8539 0.16082,1.7392 1.02489,2.4751 0.94467,0.8044 2.55539,1.4718 4.36444,1.8082 1.16771,0.2172 1.96967,0.2888 3.23526,0.2888 1.32802,0 2.1424,-0.078 3.40126,-0.3252 1.92948,-0.3791 3.53422,-1.1024 4.43705,-1.9997 0.4843,-0.4814 0.75829,-0.9835 0.8359,-1.5319 0.0358,-0.2531 -0.0295,-0.7647 -0.026,-0.7982 -0.72898,-0.022 -1.19309,-0.033 -1.89175,-0.045 -0.0355,0.3903 -0.0361,0.8414 -0.22988,1.175 -0.71265,1.2078 -2.69543,2.0704 -5.31876,2.314 -0.69423,0.064 -1.84161,0.061 -2.56043,-0.01 -2.27795,-0.2198 -4.14409,-0.9447 -4.96653,-1.9292 -0.51009,-0.6719 -0.45167,-0.9968 -0.45167,-1.6447 l -0.90026,-10e-5 h -0.90023 z"
  );
}

.sleeping#eyeLeft {
  d: path(
    "m 336.36014,1055.8147 c -0.10173,0.8554 0.37702,1.7366 1.3385,2.4636 1.05114,0.7946 2.75636,1.4458 4.62049,1.7643 1.20327,0.2057 2.02005,0.2694 3.29507,0.2569 1.33792,-0.013 2.14873,-0.099 3.38641,-0.3583 1.89701,-0.3978 3.42429,-1.1363 4.22294,-2.042 0.42839,-0.4859 0.64237,-0.9904 0.65276,-1.5392 0.004,-0.2533 -0.11574,-0.7518 -0.12238,-0.801 -0.69204,-0.014 -1.22263,-0.018 -1.91379,-0.023 0.0125,0.3904 0.0677,0.8412 -0.0863,1.1765 -0.56865,1.214 -2.94945,2.0563 -5.56221,2.3255 -3.83498,0.2532 -6.56169,-1.0706 -7.33279,-1.8237 -0.59695,-0.6666 -0.57826,-0.9918 -0.65834,-1.6393 l -0.90698,0.01 -0.90694,0.01 z"
  );
}

/* awake, searching */

:not(.sleeping).zGroup {
  visibility: hidden;
}

:not(.sleeping)#eyebrows {
  visibility: hidden;
}

:not(.sleeping)#eyeRight {
  d: path(
    "m 315.7552,1060.0401 c -0.20576,-2.2781 0.16082,-4.64 1.02489,-6.6032 0.94467,-2.1461 2.55539,-3.9265 4.36444,-4.8242 1.16771,-0.5794 1.96967,-0.7704 3.23526,-0.7704 1.32802,0 2.1424,0.2078 3.40126,0.8676 1.92948,1.0115 3.53422,2.941 4.43705,5.335 0.4843,1.2843 0.75829,2.6239 0.8359,4.0869 0.0358,0.6752 -0.0295,2.0401 -0.026,2.1294 -0.72898,0.058 -1.19309,0.088 -1.89175,0.1196 -0.0355,-1.0414 -0.0361,-2.2449 -0.22988,-3.1349 -0.71265,-3.2221 -2.69543,-5.5235 -5.31876,-6.1734 -0.69423,-0.1721 -1.84161,-0.1615 -2.56043,0.023 -2.27795,0.5864 -4.14409,2.5203 -4.96653,5.1468 -0.51009,1.7927 -0.45167,2.6593 -0.45167,4.3879 l -0.90026,10e-5 h -0.90023 z"
  );
}

:not(.sleeping)#eyeLeft {
  d: path(
    "m 336.36014,1059.5477 c -0.10173,-2.282 0.37702,-4.6328 1.3385,-6.5723 1.05114,-2.1201 2.75636,-3.8574 4.62049,-4.7071 1.20327,-0.5486 2.02005,-0.7185 3.29507,-0.6854 1.33792,0.034 2.14873,0.2636 3.38641,0.956 1.89701,1.0614 3.42429,3.0316 4.22294,5.4479 0.42839,1.2961 0.64237,2.642 0.65276,4.1062 0.004,0.6758 -0.11574,2.0057 -0.12238,2.1369 -0.69204,0.036 -1.22263,0.048 -1.91379,0.061 0.0125,-1.0416 0.0677,-2.2444 -0.0863,-3.1389 -0.56865,-3.2387 -2.94945,-5.4859 -5.56221,-6.2041 -3.83498,-0.6753 -6.56169,2.8564 -7.33279,4.8655 -0.59695,1.7783 -0.57826,2.646 -0.65834,4.3735 l -0.90698,-0.023 -0.90694,-0.023 z"
  );
}

:not(.sleeping)#mouth {
  d: path(
    "m 44.23773,110 c -8.39633,-2.1902 -14.84056,-2.0661 -22.02937,0.034 2.70302,7.8986 4.22914,10.0918 5.92512,12.8128 3.32137,1.5303 7.02399,1.4329 10.5713,-0.1045 2.99123,-4.9278 4.4913,-9.0223 5.53295,-12.7423 z"
  );
  fill: #e6c099;
}

:not(.searching)#connectingSignal {
  visibility: hidden
}

/* searching */

</style>
